body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('../public/images/al-aqsa-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
